 body {
    margin: 0;
 }

 a:link {
    color: black;
 }

 .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
}

header {
    margin-bottom: 5em;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header ul li {
    margin-right: 1em
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 15%;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 15%;
    gap: 1em;
}

.grid4 img {
    width: 20%
}

.n26 {
    background-color: rgb(192, 209, 226);
}

.enhance {
    width:170%;
    position: relative;
    left: -27%;
} 

.red {
    background-color: rgb(187, 7, 4);
    text-align: center;
    padding: 2em 0 0 0;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 15%;
    gap: 1em;
}

.grid3 div:first-child {
    grid-column: 1/-1;
    text-align: center;
}