 body {
    margin: 0;
 }


 h2, h1{
    font-size: 32px;
    font-family: "Big Caslon";
    font-weight: normal;
    letter-spacing: 1px;
 }


 h3 {
    font-size: 20px;
    font-family: Helvetica;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 26px
 }

 p a {
    font-size: 15px;
    font-family: "Big Caslon";
    letter-spacing: 1px;
 }

 p {
    font-size: 13px;
    font-family: Helvetica;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 18px;
 }

 a:link {
    text-decoration: none;
    color: black;
 }

 a:active {
    text-decoration: none;
    color: black;
 }

 a:visited {
    text-decoration: none;
    color: black;
 }

 a:hover {
    text-decoration: none;
    color: black;
 }
 

 .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:2%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2
}

img {
    width: 100%;
}

header {
    margin-bottom: 5em;
}


nav ul {
    display: flex;
    list-style-type: none;
}

ul li {
    margin-right: 1em
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 15%;
}

.grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 15%;
    gap: 1em;
}

.grid4 img {
    width: 20%;
    height: 20%;
}

.n26 {
    background-color: rgb(192, 209, 226);
}

.enhance {
    width: 100%;
    position: relative;
    left: 20%;
} 

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 15%;
    gap: 1em;
}

.grid3 div:first-child {
    grid-column: 1/-1;
    text-align: center;
}
